{% extends "blog/base.html" %}
{% block content %}
    <h1>Price Page</h1>
    <table>
        <th>commodity</th>
        <th>center</th>
        <th>price</th>
        {% for p in p1_list %}
        <tr>
            <td>{{ p.commodity }}</td>
            <td>{{ p.center }}</td>
            <td>{{ p.price }}</td>
        </tr>
        {% endfor %}

        {% for p in p2_list %}
        <tr>
            <td>{{ p.commodity }}</td>
            <td>{{ p.center }}</td>
            <td>{{ p.price }}</td>
        </tr>
        {% endfor %}

        {% for p in p3_list %}
        <tr>
            <td>{{ p.commodity }}</td>
            <td>{{ p.center }}</td>
            <td>{{ p.price }}</td>
        </tr>
        {% endfor %}
    </table>
        
        
{% endblock content %}
