{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Blog Post</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" id="post_btn" onclick="compare()" type="submit" disabled>Post</button>
            </div>
        </form>
    </div>
{% block javascript %}
<script>
    document.getElementById("id_Harvest_date").onchange = function() {myFunction()};
    
    function myFunction() {
        var startDt = document.getElementById("id_Sowing_date").value;
        var endDt = document.getElementById("id_Harvest_date").value;
        if( (new Date(startDt).getTime() >= new Date(endDt).getTime()))
        {
          window.alert("Your not Enter Valid Sowing Or Harvest  Date");
          document.getElementById("post_btn").disabled = true;
          
        }
        else
        {
            document.getElementById("post_btn").disabled = false;
        }
   
  }
    
    </script>   
{% endblock %}
{% endblock content %}
