{% extends "blog/base.html" %}
{% block content %}


  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|timesince:today_date }}</small>
        <a class="mr-2" href="#">{{object.location}}</a>
        
        {% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <img style="float: right;" class="thumbnail account-img" src="{{ object.image.url }}">
      <h2 class="article-title">{{ object.title }}</h2>
      
      <p class="article-content"><b>Seed:</b> {{ post.seed }}</p>
       <p class="article-content"><b>fertilizers:</b> {{ post.fertilizers }}</p>
       <p class="article-content"><b>category:</b> {{ post.category }}</p>
       <p class="article-content"><b>area:</b> {{ post.area }} Square meter  |  <b>Net Profit:</b> {{post.net_profit_in_INR_rupee}}</p>
       <p class="article-content"><b>duraction:</b> {{ post.Sowing_date }} <b>TO</b> {{ post.Harvest_date }}</p>
      
      <p class="article-content"><b>treatment details:</b> </p>
       &nbsp; &nbsp; &nbsp;{{ post.treatment_details }}
       <p class="article-content"><b>{{user}}'s success story:</b> </p>
       &nbsp; &nbsp; &nbsp;{{ post.Tell_your_story }}
    </div>
  </article>
{% endblock content %}
