{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% providers_media_js %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            
           <!--<button><a id="google-button" class="btn btn-block btn-social btn-google" href="{% provider_login_url 'google' %}"><i class="fa fa-google"></i>Sign in with Google</a></button>
            <fb:login-button scope="public_profile,email"  onlogin="checkLoginState();">
                <a href="{% provider_login_url 'facebook' method='oauth2' %}">Sign in with Facebook </a>
            </fb:login-button>
            
            <br/><br/>--> 

            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
            <small class="text-muted ml-2">
                <a href="{% url 'password_reset' %}">Forgot Password?</a>
            </small>

            <small class="text-muted ml-2" style="float:right">
                <a href="/Expert/login/">Expert Login</a>
            </small>
            <small class="text-muted ml-2" style="float:right">
                <a href="/Expert/login/">admin</a>
            </small>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
    </div>
{% endblock content %}
